@using PicoNet.UI.Components.Urls
@if (Urls.Count == 0)
{
    <EmptyState
        Message="No shortened URLs found."
        ActionLabel="@EmptyActionLabel"
        OnAction="OnEmptyAction " />
}
else
{
    <div class="space-y-4">

        @foreach (var url in Urls)
        {
            <UrlCard Url="url" />
        }
    </div>
}