@page "/register"
@rendermode InteractiveServer
@using ErrorOr
@using PicoNet.Contracts.DTOs.Requests.Auth
@using PicoNet.UI.ApiClients.Interfaces
@inject IAuthApiClient AuthClient
@inject NavigationManager Nav

<EditForm Model="_model" OnValidSubmit="HandleRegisterAsync" FormName="register-form">
    <DataAnnotationsValidator />
    <InputText @bind-Value="_model.Username" placeholder="Username" />
    <InputText @bind-Value="_model.Email" placeholder="Email" />
    <InputText @bind-Value="_model.Password" type="password" placeholder="Password" />
    <button type="submit">Sign in</button>
</EditForm>

@if (_errors is { Count: > 0 })
{
    <ul class="text-sm text-red-600">
        @foreach (var err in _errors)
        {
            <li>@err.Description</li>
        }
    </ul>
}

@code {
    private readonly RegisterRequest _model = new();
    private IList<Error>? _errors = [];

    private async Task HandleRegisterAsync()
    {
        var result = await AuthClient.RegisterAsync(_model,CancellationToken.None);
        if (result.IsError)
        {
            _errors = result.Errors;
            return;
        }

        //i should somehow send the email data securely to that page , without using query as much as possible for a cleaner look 
        Nav.NavigateTo("/Validate", forceLoad: true);
    }
}